.table {
	width: auto;
}

.table td{
	text-align:left;
	border: none !important;
	vertical-align:bottom;
	white-space: normal !important;
	column-width: 200em;
}

.table th{
  border-bottom: 5px solid #ddd !important;
  text-align: center;
  vertical-align:middle;
  column-span: all !important;
} 

.center {
	text-align:center;

}

.row-buffer {
	margin-bottom:30px; 
}

/* input.form-control {
  width: 200px;
  margin:auto; 
}  */

.error{
  display:none;
}

.error_show{
	color: red;
	margin-left: 10px;
}

input.invalid, textarea.invalid{
	border: 2px solid red;
}

input.valid, textarea.valid{
	border: 2px solid green;
}